.list,
.ghostList {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, var(--item-width));
    justify-content: center;
    position: relative;
}

.ghostList {
    position: absolute;
    left: calc(-1 * (var(--item-width) + 20px));
    width: calc(100% + (var(--item-width) + 20px) * 2);
    height: 100%;
    z-index: -1;
}

.invisibleItem {
    aspect-ratio: 1;
}
