.wrap {
    width: 100%;
    padding: var(--outer-space);
    box-sizing: border-box;
    display: flex;
    flex: 1;
}

.block {
    width: 100%;
    padding: 34px;
    margin: auto;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;

    background-color: #fff;
    border: 1px solid var(--border-dark);
    border-radius: var(--border-radius);
    box-shadow: var(--application-shadow);
    position: relative;
    z-index: 1;
}

.block[data-size='min'] {
    max-width: var(--min-width);
}

.block[data-size='mid'] {
    max-width: var(--mid-width);
}

.block[data-size='max'] {
    max-width: var(--max-width);
}

.block[data-ratio='1.5'] {
    aspect-ratio: 1.5;
}
