.block {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.image {
    aspect-ratio: 756 / 728;
    height: 200px;
    margin: 55px;
    filter: contrast(1.1);
    background-image: url('/ui/monkey-is-looking.webp');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    padding-left: 20px;
}
