.window {
    width: 100%;
}

.window.processing {
    pointer-events: none;
}

.images {
    width: 100%;
    margin: 34px 0;
    display: flex;
    gap: 36px;
}

.wrap:has(.image) {
    width: 50%;
    aspect-ratio: 1 / 1;

    overflow: hidden;
    border: 1px solid var(--border);
    position: relative;
    background-image: repeating-conic-gradient(#f8f9fa 0% 25%, #fff 0% 50%);
    background-size: 20px 20px;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image {
    width: 100%;
    aspect-ratio: 1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
}

.buttons {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 34px;
}

.button {
    margin: auto;
}
