.item {
    width: 100%;
    aspect-ratio: 1;

    box-shadow: var(--application-shadow);
    border: 1px solid var(--border-dark);
    border-radius: 8px;
    box-sizing: border-box;
    background: #fff;

    user-select: none;
    cursor: pointer;

    transition: color 0.05s;
}

.item:hover {
    color: var(--blue);
}

.ghost {
    border: 1px dashed var(--border-dark);
    border-radius: 8px;
    aspect-ratio: 1;
}

.icon {
    aspect-ratio: 1.5;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border-bottom: 1px solid var(--border-dark);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    margin-bottom: -1px;
}

.name {
    aspect-ratio: 3;
    padding: 1px 10px 0 10px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text {
    margin: 0;
    font-size: var(--font-size-bottom);
    line-height: 1.4;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    overflow: hidden;
}
