.item {
    aspect-ratio: 1;
    position: relative;
    background: #fff;

    box-shadow: var(--application-shadow);
    border: 1px solid var(--border-dark);
    border-radius: 8px;

    user-select: none;
    cursor: pointer;
}

.item:hover {
    border-color: var(--blue);
    outline: 1px solid var(--blue);
}

.item article {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    container-type: inline-size;
}

.empty {
    aspect-ratio: 1;
    border: 1px dashed var(--border-dark);
    border-radius: 8px;
}

/* Icon */

.wrap:has(.icon) {
    width: 100%;
    height: 65cqmin;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid var(--border-dark);
}

.icon {
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    position: relative;
    overflow: hidden;
    border-radius: 8px;
}

.icon {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Name */

.wrap:has(.name) {
    width: calc(100% - 8cqmin * 2);
    height: 35cqmin;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.name {
    font-size: var(--font-size-bottom);
    line-height: 1.4em;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    overflow: hidden;
    font-weight: normal;
}