.wrap {
    margin: -34px;
    display: flex;
    flex-direction: column;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
}

.data {
    width: 100%;
    height: var(--space-height);
    border-bottom: 1px solid var(--border-dark);
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 21px 20px 20px 20px;
    box-sizing: border-box;
}

.data b {
    color: var(--blue);
}

.textarea {
    width: 100%;
    height: 100%;
    padding: calc(34px - 8px) 34px;
    border: 0;
    box-sizing: border-box;
    resize: none;
    outline: none;
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    box-shadow: var(--input-shadow);
}
